@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{

	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body{
	min-height: 1000px;
	scroll-behavior: smooth;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 0 100px;
	background: #000;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transition: 1s;
}
header.sticky{
	height: 80px;
}
header .banner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s;
}
header.sticky .banner{
	opacity: 0.5;
}
 header .logo{
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	font-size: 15vw;
	color: #fff;
	font-weight: 900;
	transition: 1s;
	text-decoration: none;
	z-index: 2;
}
header.sticky .logo{
	position: absolute;
	font-size: 2em;
	left: 10px;
		transform: translate(0%, -50%);
}
nav{
	position: relative;
	display: flex;
	z-index: 1;
}
nav ul{
	position: relative;
	display: flex;
	transition: 0.25s;
	transform: translate(100px);
	opacity: 0;
}
header.sticky nav ul{
	transform: translate(0);
	opacity: 1
	
}
li {
	list-style: none;
}
nav ul li a {
	color:#fff;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1.2rem;
	text-decoration: none;
}
nav ul li a:hover {
color: #ff275f;
}
section
{
	margin-top: 50vh;
	padding: 100px;
}
section h2{
	font-size: 3em;
}
section p{
	font-size: 1.2em;
}

@media (max-width: 991px)

{
	section,
	header {
		padding: 40px;
	}
	section h2{
		font-size: 2em;
	}
	header.sticky .logo{
		left: 40px;
	}
	header.sticky .banner{
		opacity: 0;
	}
	nav ul{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	nav.active ul{
		position: fixed;
		top: 80px;
		left: 0;
		width: 100%;
		height: calc(100% - 80px);
		background: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	header.sticky nav ul{
			opacity: 1;
		visibility: visible;
	}
	nav ul li a{
		font-size: 2em;
	}
	header.sticky .toggle{
		position: fixed;
		top: 15px;
		right: 40px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background: #fff url(menu.png);
		background-size: 30px;
		background-repeat: no-repeat;;
		background-position: center;
	}
	header.sticky .toggle.active{
		background: #fff url(close.png);
		background-size: 30px;
		background-repeat: no-repeat;;
		background-position: center;
	}
}